<%- include('partials/header', { title: "Landing" }) %>

<h1>Welcome, <%= user.username %>!</h1>
<p class="email">Your email: <%= user.email %></p>

<% if (user.role === "admin") { %>
<h2>All Users:</h2>
<ul>
  <% users.forEach((u) => { %>
  <li>Role: <%= u.role %> (Email: <%= u.email %>)</li>
  <% }) %>
</ul>
<% } else { %>
<p>You are a regular user. Enjoy your stay!</p>
<% } %>

<span class="index-button-container">
  <button onclick="window.location.href='/logout'">Logout</button>
</span>

<%- include('partials/footer') %>
